{% extends 'base.html.twig' %}

{% block title %}<title>Mot de passe oublié</title>{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Mot de passe oublié</h1><br>
    {{ form(emailForm) }}
{% endblock %}