{% extends 'base.html.twig' %}

{% block title %}<title>Nouveau mot de passe</title>{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Entrez votre nouveau mot de passe</h1><br>
    <form method="POST">
        <label for="pass">Mot de passe</label>
        <input type="password" name="password" id="pass">
        <input type="hidden" name="token" value="{{ token }}">
        <div class="text-center mt-2">
        <button>Valider</button>
        </div>
    </form>
{% endblock %}